*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

body{

    font-family:Arial,sans-serif;

    background:#f4f6f9;

}

/* Header */

header{

    background:#0077b6;

    color:white;

    padding:20px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

nav a{

    color:white;

    text-decoration:none;

    margin-left:20px;

}

/* Hero (Flexbox) */

.hero{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:50px;

    gap:30px;

}

.hero img{

    width:450px;

    border-radius:10px;

}

.hero a{

    display:inline-block;

    margin-top:20px;

    background:#0077b6;

    color:white;

    padding:10px 20px;

    text-decoration:none;

}

/* Sections */

section{

    margin:30px;

    padding:30px;

    background:white;

    border:1px solid lightgray;

    border-radius:10px;

}

h2{

    margin-bottom:20px;

}

p{

    margin-bottom:10px;

}

/* Grid */

.service-grid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:20px;

}

.card{

    background:#caf0f8;

    padding:30px;

    text-align:center;

    border-radius:10px;

}

/* Flexbox */

.doctor-container{

    display:flex;

    gap:20px;

}

.doctor{

    flex:1;

    background:#e9ecef;

    padding:20px;

    text-align:center;

    border-radius:10px;

}

/* List */

ul{

    margin-left:30px;

}

/* Form */

form{

    display:flex;

    flex-direction:column;

}

input{

    padding:10px;

    margin-bottom:15px;

}

button{

    padding:12px;

    border:none;

    background:#0077b6;

    color:white;

    cursor:pointer;

}

/* Table */

table{

    width:100%;

    border-collapse:collapse;

}

table,
th,
td{

    border:1px solid black;

}

th,
td{

    padding:12px;

    text-align:center;

}

/* Footer */

footer{

    background:#0077b6;

    color:white;

    text-align:center;

    padding:20px;

}

/* Responsive Design */

@media(max-width:768px){

    header{

        flex-direction:column;

    }

    nav{

        margin-top:15px;

    }

    .hero{

        flex-direction:column;

        text-align:center;

    }

    .hero img{

        width:100%;

    }

    .service-grid{

        grid-template-columns:1fr;

    }

    .doctor-container{

        flex-direction:column;

    }

}